.round {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: #70c452;
    border-radius: 15%;
    width: max-content;
    min-width: 150px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 5vh;
    color: #fff;
    box-shadow: #3f3f3f 2px 2px 5px 2px ;
}

.round p{
    background-color: #8bc28b56;
    border-radius: 10px;
    transition: all .2s ease-in;
    padding: 0 10px;

}

.round p:hover {
    color: #ccc;
    box-shadow: #006300ad 1px 1px 2px 1px;

}

.addingRound {
    padding: 20px;
    text-align: center;
    border: 3px dashed #70c452;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 5vh;
    color: #fff;
    cursor: pointer;
    transition: opacity .22s ease-in-out;

}
.addingRound i {
    font-size: 25px;
    
}

.addingRound:hover {
    opacity: .7;
}

.fas {
    font-size: 60px;
}

.editPen {
    z-index: 80;
    font-size: 20px;
    display: inline-flex;
    margin: 0 auto;

}
.editPen i {
    height: min-content;
    cursor: pointer;
    transition: color .2s ease-in;
    padding: 5px 20px;
    

}

.editPen i:hover {
    color: #ccc;
}

.trashIcon {
    /* left: 0; */
    padding-bottom: 3px;
}

/* .newInput {
    z-index: 90;
    text-align: center;
    border-radius: 10px;
    background-color: #3F1DF7;
    border: 2px solid black;
    outline: none;
    color: #fff;
    -webkit-box-shadow: inset 10px 9px 10px -2px rgba(0,0,0,0.37);
    -moz-box-shadow: inset 10px 9px 10px -2px rgba(0,0,0,0.37);
    box-shadow: inset 10px 9px 10px -2px rgba(0,0,0,0.37);
}

.roundName {
    z-index: 90;
    cursor: pointer;
} */