div {
	background: #c1c6b9;
	width: 400px;
	height: 550px;
	border-radius: 30px;
}

table {
	margin-top: 150px;
}

input {
	font-size: 25px;
	border-radius: 10px;
}

.color {
	background: #4d4f50;
	color: white;
}

.color:hover {
	background: #6d6f70;
}

.block {
display: inline-block;
}

input,label {
display: block;
}