@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Background {
  font-family: 'Montserrat', sans-serif;
  background: url("../../asserts/background_2.png") repeat;
    margin: 0; 
    min-height: 100vh;
    height: 100%; 
    background-size: cover; 
}