body {
    /* background: url(../../asserts/background.png); */
    /* background: url(/static/media/background_2.d5b228f4.png) repeat;
    margin: 0;
    height: 100%;
    width: 100%;
    /* background-size: cover; */ 
}

.Authentication {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(/static/media/background_2.d5b228f4.png) repeat;
    margin: 0;
    height: 100%;
    /* width: 100%; */
    background-size: cover;
    /* background-color: #000000; */
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
}


.Authentication h1 {
    margin-top: 5vh;
    text-align: center;
    color: #fff;
}


.Authentication_form {
    /* margin-top: 10vh; */
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.Authentication_input {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
}

.Authentication_wrapper {
    /* background-color: #C1C6B9; */
    margin-top: 15vh;
    display: flex;
    justify-content: center; 
    
    /* align-items: center;*/
}

.Authentication_wrapper label, a {
    margin-top: 0.5vh;
}

.inputLabel {
    color: #fff;
}

.wrongInputsValues {
    color: red;
    text-align: center;

}