.header {
	position: fixed;
	z-index: 1000;
	top: 150px;
}

.size {
	width: 100vw;
	margin-top: -10px;
}

.margin {
    margin-left: 10%;
}

.div-background {
background-color: #191a1e;
}

div {
	width: 100vw;
	height: 120vh;
	margin-top: -10px;
}


.line {
    border-left-color: #a8e13c;
    border-left-style: solid;
    border-left-width: 3px;
}

.TableText{
	color: white;
	font-family: Tahoma;
}

td {
	font-family: Tahoma;
}