.QuizTestRounds {
    background-color: #70c452;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    margin: 0 1vh;
}

.QuizTestRounds_notAccess {
    background-color: #a0a0a0;
}

.QuizTestRounds_currentRound {
    border: 3px solid #3F51B5
}