.ToggleMenu {
    position: absolute;
    top: 2.8vh;
    right: 4vh;
    /* left: 195vh; */
    font-size: 3.6vh;
    cursor: pointer;
    color: #fff;
    z-index: 100;
    transition: .22s ease-in;

}
.ToggleMenu:hover {
    opacity: .7;
}

.ToggleMenu.open {
    right: 320px;
}